{% extends "layout.html" %}
{% set active_page = "show_referees" %}
{% block body %}
  <h1> Active Referees </h1>
  <ul class="list-group" id="referees">
  {% for ref in referees %}
    <li class="list-group-item">
      <h2>
        <a href="{{ url_for('get_ref') }}?id={{ ref.id }}">{{ ref.f_name }} {{ ref.l_name|safe }}</a>
        <span class="badge">{{ ref.games_reffed }}</span>
      </h2>
    </li>
  {% else %}
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
      <strong>Oops!</strong> We don't have any refs registered currently!
    </div>
  {% endfor %}
  </ul>
{% endblock %}
